* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.opacity {
    opacity: 0.5;
}
.low-opacity {
    opacity: 0.8;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
p {
    color: grey;
    font-size: 13px;
}
.container-flex {
    display: flex;
}
.text-white {
    color: white;
}
.text-small {
    font-size: 10px;
}
.text-upper {
    text-transform: uppercase;
}
.no-style {
    list-style: none;
}
.small-icon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.xs-icon {
    width: 15px;
    margin-right: 10px;
}
.align > * {
    vertical-align: middle;
}
.block {
    display: block;
}
.inline {
    display: inline-block;
}
.clickable {
    cursor: pointer;
}
.visible-xs {
    display: none;
}
.relative {
    position: relative;
}
.green-line {
    background-color: greenyellow;
    position: absolute;
}


/* specifici */
main {
    height: calc(100vh - 100px);
}
/* barra a sinistra */
#left-bar {
    width: 250px;
    height: 100%;
    background-color: black;
    float: left;
    flex-direction: column;
    overflow-y: auto;
}
#left-bar > * {
    padding: 5px 15px;
}
#left-bar > .logo-img > img {
    margin-top: 10px;
}
#left-bar > .logo-img > .hidden-xs {
    width: 70%;
}
#left-bar .green-line {
    width: 3px;
    height: 40px;
    left: 0;
    top: 0;
    
}
#add-playlist {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: grey;
    color: black;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: 1000;
}
#left-bar ul {
    min-height: 100px;
    flex-grow: 1;
    overflow-y: auto;
}
#left-bar ul li {
    margin-top: 10px;
}
#footer-bar a {
    margin-bottom: 10px;
}
#footer-bar > div {
    padding-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid grey;
}
#propic {
    background-color: grey;
    border-radius: 50%;
}



/* main part a destra */
#right-content {
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    overflow-y: auto;
}
.top-bar {
    height: 80px;
    background-color: rgb(10, 10, 10);
    flex-direction: row-reverse;
    align-items: center;    
}
.button {
    color: white;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 20px;
    height: 40px;
    margin-right: 5px;
    font-size: 15px;
}

.main-section {
    background-color: rgb(10, 20, 20);
    padding: 15px;
    flex-direction: column;
}
/* browse list in alto */
.browse {
    align-self: center;
    text-align: center;
}
.browse li {
    display: inline-block;
    margin: 0 10px 20px;
}
#right-content .green-line {
    width: 40px;
    height: 3px;
    left: 30px;
}
/* sezioni sotto */
section > .container-flex {
    flex-wrap: wrap;
    margin-top: 20px;
}
section:first-of-type  > .container-flex {
    justify-content: space-between;
}
section > h2 {
    margin-top: 20px;
}
section > p {
    margin-top: 10px;
}
.item {
    padding-right: 20px;
    display: inline-block;
    width: calc(100% / 6);
    max-width: 200px;
    text-align: center;
    margin-bottom: 20px;
}
.item img {
    width: 100%;
}
.item-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.item-hover .fa-play-circle-o {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.item > h4 {
    margin-top: 10px;
}
.item > p {
    margin-top: 5px;
}



/* barra di riproduzione in basso */
nav {
    height: 100px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    align-items: center;
    justify-content: space-between;
}
/* parte a sinistra */
#now-playing > *, #now-playing > .icons > * {
    margin-left: 10px;
}
#now-playing > div:first-of-type {
    margin-right: 30px;
}
.img-playing {
    height: 50px;
}
#now-playing .low-opacity{
    font-size: 14px;
    display: block;
}
/* parte centrale */
#player {
    flex-grow: 1;
}
#player > div:first-child {
    height: 45px;
}
#player > .container-flex {
    justify-content: center;
    align-items: center;
}
#player i {
    margin: 0 10px;
}
#player .fa-play-circle-o {
    font-size: 40px;
    margin: 0 20px;
}
.length-bar {
    height: 4px;
    background-color: grey;
    border-radius: 2px;
    cursor: pointer;
}
.progress-bar {
    height: 100%;
    border-radius: 2px;
    background-color: white;
}
.cursor-bar {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    transform: translate(-50%, -50%);
    display: none;
}
#player .length-bar {
    width: 70%;
    margin: 0 3%;
}
#player .progress-bar {
    width: 20%;
}
#player .cursor-bar {
    left: 20%;
}
/* parte a destra */
#options > * {
    margin: 0 5px;
}
#options .length-bar {
    width: 100px;
}
#options .progress-bar {
    width: 30%;
}
#options .cursor-bar {
    left: 30%;
}

/* hover */
.opacity:hover {
    opacity: 0.8;
}
.low-opacity:hover {
    opacity: 1;
}
.item:hover .item-hover{
    display: block;
}
.button:hover {
    height: 44px;
    border-radius: 22px;
    font-size: 17px;
}
#player .fa-play-circle-o:hover {
    font-size: 44px;
    margin: 0 18px;
}
.length-bar:hover .progress-bar {
    background-color: greenyellow;
}
.length-bar:hover .cursor-bar {
    display: block;
}

/* media query */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .item {
        width: calc(100% / 4);
    }
    section:first-of-type  > .container-flex {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .item {
        width: calc(100% / 2);
        max-width: none;
    }
    section:first-of-type  > .container-flex {
        justify-content: flex-start;
    }
    #now-playing > div:first-of-type {
        margin-right: 0;
    }
    #now-playing > .icons > i {
        display: block;
        margin-top: 5px;
    }
}
@media screen and (max-width: 767px) {
    .visible-xs {
        display: inline-block;
    }
    .hidden-xs {
        display: none;
    }
    #left-bar {
        width: 50px;
    }
    #left-bar > * {
        padding: 5px 10px;
    }
    #spacing {
        flex-grow: 1;
    }
    #footer-bar {
        justify-self: flex-end;
    }
    #footer-bar a {
        text-align: center;
    }
    #footer-bar .xs-icon {
        margin-right: 0;
    }
    #footer-bar > div {
        border-top: none;
    }
    #right-content {
        width: calc(100% - 50px);
    }
    .item {
        width: calc(100% / 2);
        max-width: none;
    }
    section:first-of-type > .container-flex {
        justify-content: flex-start;
    }
    #now-playing > div:first-of-type {
        margin-right: 0;
    }
    #now-playing > .icons {
        margin-left: 0;
    }
    #now-playing > .icons > i {
        display: block;
        margin-top: 5px;
    }
    #options > * {
        margin-left: 0;
    }
}