* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* forse posso mettere h bianchi e p grigi direttamente */
.text-grey {
    color: grey;
}
.text-white {
    color: white;
}
.no-style {
    list-style: none;
}
.small-icon {
    height: 30px;
}
.xs-icon {
    width: 15px;
}
.grey-icon {
    opacity: 0.5;
}
.border-b {
    border-bottom: 1px solid grey;
}
.align > * {
    vertical-align: middle;
}
main {
    height: calc(100vh - 100px);
}
#left-bar {
    width: 250px;
    height: 100%;
    background-color: black;
    float: left;
    position: relative;
}
.container-flex {
    display: flex;
}
#left-bar > * {
    padding: 10px;
}
#left-bar > img {
    width: 80%;
}
#add-playlist {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: grey;
    color: black;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: 1000;
}
.fixed-b {
    position: absolute;
    bottom: 0;
}
/* forse va rifatto col flex, vediamo poi */
#propic {
    background-color: grey;
    border-radius: 50%;
}
#right-content {
    width: calc(100% - 250px);
    height: 100%;
    float: left;
}
.top-bar {
    height: 100px;
    background-color: rgb(10, 10, 10);
}
.top-bar.container-flex {
    flex-direction: row-reverse;
    align-items: center;
}
/* forse posso togliere container-flex dal selettore */
.button {
    color: white;
    padding: 10px 30px;
    border: 2.5px solid white;
    border-radius: 20px;
    height: 40px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.main-section {
    background-color: rgb(10, 20, 20);
    padding: 10px;
}
.main-section.container-flex {
    flex-direction: column;
}
.browse {
    align-self: center;
}
.browse li {
    display: inline-block;
    margin: 0 10px;
}
.browse a {
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
}
section > .container-flex {
    flex-wrap: wrap;
}
.item {
    display: inline-block;
    max-width: 200px;
    /* prob usare flex grow e shrink per gestire responsiveness */
}
.item img {
    width: 100%;
}


/* nav con fixed nasconde l'ultima parte del body */
nav {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(40, 40, 40);
}